.text-area{
    position: relative;
    height: 158px
}

.text-area > label {
    position: absolute;
    left: 10px;
    transition: 0.2s;
    color: slategray;
}

#message{
    border: 1px solid black;
    border-radius: 0.5rem;
    font-family: "Poppins";
    font-size: 1rem;
    outline: none;
    padding: 0.5rem 0.2rem;
    min-height: 100px;
    width: 100%;
}


#message:focus + label,
input:not(:placeholder-shown) + label {
    transform: translateY(-0.5rem);
    font-size: 0.8rem;
    color: darkgrey;
    background-color: white;
    outline: none;
    padding-right: 2px;
    padding-left: 2px;
}

#message::placeholder {
    opacity: 0;
}